@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-creamson);
}

:root {
  --playerfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
}

/* ---------------- */
/* Header Section */
/* -------------- */
.header__nav {
  display: flex;
  overflow: hidden;
}
.header__logo {
  flex: 1;
  display: flex;
  position: relative;
  padding: 20px;
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  padding-left: 30px;
  color: #fff;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playerfair-display);
  opacity: 0.8;
}

.header__menu,
.header__menu-mobile {
  padding: 20px;
  flex: 1.24;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.header__menu-mobile {
  display: none;
  gap: 20px;
  position: relative;
}

/* --------------- */
/* Hero section */
/* -------------- */
.hero {
  display: flex;
  min-height: calc(100vh - 74px);
  overflow: hidden;
}
.hero-image {
  flex: 1;
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 5;
}

.hero-image img {
  width: 120%;
  height: 100%;
  object-fit: contain;
}
.hero-image__overlay {
  position: absolute;
  inset: 0;
  width: 100%;

  background-color: var(--primary-color);
  z-index: -1;
}

.hero-image h2 {
  position: absolute;
  bottom: 0;
  padding: 20px;

  font-family: var(--playerfair-display);
  font-weight: 700;
  font-size: 120px;
  line-height: 138px;
  color: #fff;
}

.hero-content {
  flex: 1.22;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hero-content-info {
  padding: 64px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-content-info h1 {
  font-size: 80px;
  font-weight: 600;
  font-family: var(--playerfair-display);
  color: var(--secondary-color);
}

.hero-content-info p {
  margin: 32px 0 0 32px;

  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
}

.hero-content__buttons {
  margin: 41px 0 0 41px;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.hero-content__order-button {
  padding: 20px;
  border-radius: 36px;
  outline: none;
  min-width: 212px;
  border: none;
  background-color: var(--secondary-color);

  cursor: pointer;

  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.hero-content__play-button {
  outline: none;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-200);
  font-family: var(--plus-jakarta-sans);
  cursor: pointer;
}

.hero-content__play-button img {
  margin-right: 12px;
  width: 46px;
  height: 46px;
  object-fit: contain;
}
.hero-content__testimonial {
  padding: 32px 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: var(--color-white);
}
.hero-content__customer {
  flex: 1;
  gap: 10px;
}
.hero-content__customer h4 {
  font-size: 62px;
  font-weight: 400;
  font-family: var(--playerfair-display);
}
.hero-content__customer p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  opacity: 0.5;
}
.hero-content__review {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  border: 1px solid rgba(2, 2, 2, 0.1);
  min-width: 200px;
}
.hero-content__review img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}
.hero-content__review p {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  opacity: 0.8;
}

/* ------------------------ */
/* ABOUT SECTION STYLES */
/* --------------------- */
.about-us {
  display: flex;
  min-height: 720px;
  /* Removed overflow: hidden to allow animations to work */
  position: relative;
}
.about-us__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  position: relative;
}
.about-us__image div {
  padding: 32px 64px;

  flex: 1;
  display: flex;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.about-us__image-sushi3 {
  border-bottom: 8px solid var(--color-creamson);
  background-image: url("../assets/about_bg1.png");
}
.about-us__image-sushi2 {
  background-image: url("../assets/about_bg2.png");
}
.about-us__image-sushi3 img {
  width: 225px;
  height: 200px;
}
.about-us__image-sushi2 img {
  width: 240px;
  height: 160px;
}
.about-us__button {
  position: absolute;
  right: 0;

  padding: 12px 32px;
  min-height: 64px;
  background: var(--secondary-color);
  color: #fff;
  border-radius: 32px 0 0 32px;
  border: 0;
  outline: 0;
  font-family: var(--plus-jakarta-sans);
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;

  cursor: pointer;
}
.about-us__button img {
  object-fit: contain;
  margin-left: 32px;
}
.about-us__content {
  flex: 1;
  display: flex;
  padding: 64px;
  flex-direction: column;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sushi__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);

  color: var(--primary-color);
  opacity: 0.8;

  letter-spacing: -0.01em;
}

.sushi__title {
  font-size: 64px;
  font-weight: 600;
  font-family: var(--playfair-display);

  color: var(--secondary-color);

  margin-top: 16px;
}

.sushi__description {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);

  line-height: 36px;
  letter-spacing: -0.01em;

  color: var(--secondary-color);
  opacity: 0.8;

  margin: 32px 0px;
}

/* -------------------- */
/*  POPULAR SECTION    */
/* -------------------*/
.popular-foods {
  padding: 64px;
  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);
  background-image: url("../assets/popular_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  overflow: hidden;
}
.popular-foods_title {
  font-size: 56px;
  font-family: var(--playfair-display);
  font-weight: 600;

  line-height: 78px;
  color: #fff;
  text-align: center;
}
.popular-foods__filters {
  margin-top: 48px;
  max-width: 100%;
  overflow-x: auto;

  display: flex;
  justify-content: center;
  gap: 24px;
}
.popular-foods__filter-btn {
  padding: 10px 28px;
  display: flex;
  align-items: center;
  gap: 10px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 46px;

  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  cursor: pointer;
}
.popular-foods__filter-btn img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}
.popular-foods__filter-btn.active {
  background: #ffff;
  color: var(--primary-color);
}
.popular-foods__filter-btn:hover {
  background: #ffff;
  color: var(--primary-color);
}
.popular-foods__catalogue {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 56px;
}
.popular-foods__button {
  width: fit-content;
  padding: 20px 30px;
  margin: 80px auto 0;

  font-weight: 100;
  font-size: 18px;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  border: none;
  outline: none;
  background: var(--secondary-color);
  border-radius: 64px;
  cursor: pointer;
}
.popular-foods__button img {
  width: 14px;
  height: 14px;
  object-fit: contain;
  margin-left: 23px;
}
/* CARD */
.popular-foods__card {
  padding: 38px;
  min-width: 260px;
  height: fit-content;

  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.popular-foods__card-image {
  width: 110px;
  height: 84px;
  object-fit: contain;
}
.popular-foods__card-title {
  margin-top: 47px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--playfair-display);
  color: #fff;
  text-align: center;
}
.popular-foods__card-details {
  width: 100%;
  margin-top: 32px;
}
.popular-foods__card-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.popular-foods__card-rating img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.popular-foods__card-rating p {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
}
.popular-foods__card-price {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
}

.popular-foods__card.active-card {
  background-color: #fff;
  min-width: 340px;
}

.popular-foods__card.active-card
.popular-foods__card-image {
  width: 214px;
  height: 160px;
}

.popular-foods__card.active-card 
.popular-foods__card-title {
  color: var(--black-500);
  font-size: 32px;
}

.popular-foods__card.active-card 
.popular-foods__card-rating img {
  width: 32px;
  height: 32px;
}

.popular-foods__card.active-card 
.popular-foods__card-rating p {
  font-size: 24px;
  color: var(--gray-100);
}

.popular-foods__card.active-card 
.popular-foods__card-price {
  font-size: 24px;
  color: var(--secondary-color);
}
